#                       .. CAR DATASET EXERCISE..

# IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import classification_report,confusion_matrix

# read csv file

In [2]:
df=pd.read_csv("cars_clus.csv")

# check the data

In [3]:
df.head()

,manufact,model,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
0,Acura,Integra,16.919,16.360,0,21.50,1.8,140,101.2,67.3,172.4,2.639,13.2,28.0,2.828,0
1,Acura,TL,39.384,19.875,0,28.40,3.2,225,108.1,70.3,192.9,3.517,17.2,25.0,3.673,0
2,Acura,RL,8.588,29.725,0,42.00,3.5,210,114.6,71.4,196.6,3.850,18.0,22.0,2.150,0
3,Audi,A4,20.397,22.255,0,23.99,1.8,150,102.6,68.2,178.0,2.998,16.4,27.0,3.015,0
4,Audi,A6,18.780,23.555,0,33.95,2.8,200,108.7,76.1,192.0,3.561,18.5,22.0,2.933,0

# information of the dataset

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 16 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   manufact   117 non-null    object
 1   model      117 non-null    object
 2   sales      117 non-null    float64
 3   resale     117 non-null    float64
 4   type       117 non-null    int64
 5   price      117 non-null    float64
 6   engine_s   117 non-null    float64
 7   horsepow   117 non-null    int64
 8   wheelbas   117 non-null    float64
 9   width      117 non-null    float64
 10  length     117 non-null    float64
 11  curb_wgt   117 non-null    float64
 12  fuel_cap   117 non-null    float64
 13  mpg        117 non-null    float64
 14  lnsales    117 non-null    float64
 15  partition  117 non-null    int64
dtypes: float64(11), int64(3), object(2)
memory usage: 14.8+ KB

In [5]:
df.describe()

,sales,resale,type,price,engine_s,horsepow,wheelbas,width,length,curb_wgt,fuel_cap,mpg,lnsales,partition
count,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.000000,117.0
mean,59.112316,18.031538,0.247863,25.969487,3.048718,181.282051,107.326496,71.189744,187.717949,3.324051,17.812821,24.117949,3.401179,0.0
std,75.058933,11.605632,0.433629,14.149699,1.055169,58.591786,8.050588,3.530151,13.849926,0.597177,3.794609,4.404164,1.337862,0.0
min,0.110000,5.160000,0.000000,9.235000,1.000000,55.000000,92.600000,62.600000,149.400000,1.895000,10.300000,15.000000,-2.207000,0.0
25%,16.767000,11.240000,0.000000,16.980000,2.200000,140.000000,102.400000,68.500000,177.500000,2.911000,15.300000,22.000000,2.819000,0.0
50%,32.299000,14.010000,0.000000,21.665000,3.000000,175.000000,107.000000,70.400000,187.800000,3.340000,17.200000,24.000000,3.475000,0.0
75%,76.029000,19.875000,0.000000,29.465000,3.800000,210.000000,111.600000,73.600000,196.500000,3.823000,19.800000,26.000000,4.331000,0.0
max,540.561000,67.550000,1.000000,82.600000,8.000000,450.000000,138.700000,79.300000,224.500000,5.115000,32.000000,45.000000,6.293000,0.0

# check the null values if any

In [6]:
df.isnull().sum()

manufact     0
model        0
sales        0
resale       0
type         0
price        0
engine_s     0
horsepow     0
wheelbas     0
width        0
length       0
curb_wgt     0
fuel_cap     0
mpg          0
lnsales      0
partition    0
dtype: int64

# feature engineering

In [7]:
df['manufact'].replace(['Acura', 'Audi'],
                        [1, 0], inplace=True)

# splitting the data into training and testing data

In [8]:
x=df[['sales','resale','type','engine_s','horsepow','wheelbas','width','length','curb_wgt','fuel_cap','mpg','lnsales','partition']]
y=df['price']

In [21]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3)

# fit the model

In [22]:
model=LinearRegression()

In [23]:
model.fit(x_train,y_train)

LinearRegression()

# predicting the model

In [26]:
pre=model.predict(x_test)

In [28]:
from sklearn import metrics
print("MSE- ",metrics.mean_squared_error(y_test,pre))
print("MAE- ",metrics.mean_absolute_error(y_test,pre))
print("RMSE- ",np.sqrt(metrics.mean_squared_error(y_test,pre)))

MSE-  12.252282063538322
MAE-  2.5728752966128163
RMSE-  3.5003259938951863

# Testing the model

In [15]:
print("enter features:")
a,b,c,d,e,f,g,h,i,j,k,l,m=map(float,input().split())
pre=model.predict([[a,b,c,d,e,f,g,h,i,j,k,l,m]])
print(pre)

enter features:
16.919	16.360	0 1.8	140	101.2	67.3	172.4	2.639	13.2	28.0	2.828	0
[20.17775549]

                                          THANKS!